@model Category
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Kategori Güncelleme Sayfası</h4>
                <form class="forms-sample" method="post">
                    <div class="form-group">
                        <input type="hidden" asp-for="CategoryId"/>
                        <label for="exampleInputName1">Kategori Adı</label>
                        <input type="text" class="form-control" placeholder="Kategori Adınız" asp-for="CategoryName">
                    </div>
                    <button type="submit" class="btn btn-outline-success mr-2">Güncelle</button>
                    <button class="btn btn-light">İptal Et</button>
                </form>
            </div>
        </div>
    </div>
</div>

