<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="profile-image">
                    <img src="/Melody-Premium-Bootstrap-Admin-Dashboard-Template/images/faces/face0.png" alt="image" />
                </div>
                <div class="profile-name">
                    <p class="name">
                        Hoşgeldin Emir
                    </p>
                    <p class="designation">
                        Süper Admin
                    </p>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <i class="fa fa-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Statistics/">
                <i class="fa fa-puzzle-piece menu-icon"></i>
                <span class="menu-title">İstatistikler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Category/CategoryList/">
                <i class="far fa-file-alt menu-icon"></i>
                <span class="menu-title">Kategoriler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Category/ReverseCategory/">
                <i class="fas fa-retweet menu-icon"></i>
                <span class="menu-title">Kategoriler (Tersten)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Product/ProductList/">
                <i class="far fa-eye menu-icon"></i>
                <span class="menu-title">Ürün Listesi</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Product/First5ProductList/">
                <i class="fas fa-eye-dropper menu-icon"></i>
                <span class="menu-title">Ürün Listesi (İlk 5)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Product/Skip4ProductList/">
                <i class="far fa-eye-slash menu-icon"></i>
                <span class="menu-title">Ürün Listesi (4)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Product/ProductListWithCategory/">
                <i class="fas fa-print menu-icon"></i>
                <span class="menu-title">Ürün Listesi (Kategori İle)</span>
            </a>    
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Product/CreateProductWithAttach/">
                <i class="fas fa-plus menu-icon"></i>
                <span class="menu-title">Yeni Ürün Ekle (Attach)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/CustomerListOrderByCustomerName/">
                <i class="far fa-id-card menu-icon"></i>
                <span class="menu-title">Müşteri Listesi (İsme Göre)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/CustomerListOrderByDescBalance/">
                <i class="fas fa-database menu-icon"></i>
                <span class="menu-title">Müşteri Listesi (Bakiye)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/CustomerGetByCity/">
                <i class="far fa-address-card menu-icon"></i>
                <span class="menu-title">Müşteri Listesi (Arama)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/CustomerByCityCount/">
                <i class="fas fa-question menu-icon"></i>
                <span class="menu-title">Müşteri Sayısı (Şehre Göre)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/CustomerCityList/">
                <i class="fas fa-sitemap menu-icon"></i>
                <span class="menu-title">Müşteri Listesi (Distinct)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/ParallelCustomer/">
                <i class="fas fa-random menu-icon"></i>
                <span class="menu-title">Müşteri Listesi (Parallel)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/CustomerListExceptCityIstanbul/">
                <i class="fas fa-tablet menu-icon"></i>
                <span class="menu-title">Müşteri Listesi (İstanbul Hariç)</span>
            </a>
        </li>
        <li class="nav-item">   
            <a class="nav-link" href="/Customer/CustomerListWithIndex/">
                <i class="fas fa-star menu-icon"></i>
                <span class="menu-title">Müşteri Listesi (Index ile)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Order/AllStockSmallerThen5/">
                <i class="fas fa-angle-left menu-icon"></i>
                <span class="menu-title">Sipariş Listesi (Stok Sayısı < 5 )</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Order/OrderListByStatus/">
                <i class="far fa-smile menu-icon"></i>
                <span class="menu-title">Sipariş Listesi (Duruma Göre)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Order/OrderListSearch/">
                <i class="fas fa-search-minus menu-icon"></i>
                <span class="menu-title">Sipariş Arama</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Order/OrderList/">
                <i class="fas fa-dot-circle menu-icon"></i>
                <span class="menu-title">Sipariş Listesi (Asenkron)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Order/OrderListWithCustomerGroup/">
                <i class="fas fa-info menu-icon"></i>
                <span class="menu-title">Sipariş Grup Listesi (Müşteri)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Order/OrderListWithCustomerGroup/">
                <i class="fas fa-info menu-icon"></i>
                <span class="menu-title">Sipariş Grup Listesi (Müşteri)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Message/MessageList/">
                <i class="fas fa-comment menu-icon"></i>
                <span class="menu-title">Mesaj Listesi</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ToDo/ToDoAgreagatePriority/">
                <i class="fas fa-list menu-icon"></i>
                <span class="menu-title">Yapılacaklar Listesi (Agreagate)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ToDo/TodoChunk/">
                <i class="fas fa-table menu-icon"></i>
                <span class="menu-title">Chunk ile Gruplandırılmış Görevler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ToDo/TodoConcat/">
                <i class="fas fa-paragraph menu-icon"></i>
                <span class="menu-title">Yapılacaklar Listesi (Birincil - İkincil)</span>
            </a>
        </li>
    </ul>
</nav>
