
@{
    ViewData["Title"] = "CustomerCastExample";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Müşteri Cast Örneği</h1>
@foreach (var item in ((IEnumerable<object>)ViewBag.result).Cast<Customer>())
{
    <p>@item.CustomerName @item.CustomerSurname - @item.CustomerCity</p>
}

